<!--This are all the treanding videos below the header-->
<main>
    <article>
        <span class="trending-topics">
            <span class="trending-topic-button active-tt-button">{{topic1}}</span>
            <span class="trending-topic-button">{{topic2}}</span>
            <span class="trending-topic-button">{{topic3}}</span>
            <span class="trending-topic-button">{{topic4}}</span>
            <span class="trending-topic-button">{{topic5}}</span>
            <span class="trending-topic-button">{{topic6}}</span>
            <span class="trending-topic-button">{{topic7}}</span>
            <span class="trending-topic-button">{{topic8}}</span>
            <span class="trending-topic-button">{{topic9}}</span>
            <span class="trending-topic-button">{{topic10}}</span>
            <span class="trending-topic-button">{{topic11}}</span>
        </span>
    </article>    
</main>